/*.panel-success > .panel-heading, .facet_limit-active {
  border-color: #DDDDDD;
}

.panel-success > .panel-heading, .facet_limit-active > .panel-heading {
  background-color: #fff;
  color: #A3A856;
}

.panel-success > .panel-heading + .panel-collapse > .panel-body, .facet_limit-active > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #DDDDDD;
}*/


.panel-heading {
  padding-left:10px;
}

.text-success {
  color: #A3A856;
}

.document .document-counter {
  color: #000;  
}

.document h5 {
  font-size: 1.3em;
}

.document a {
  color: $blue;
}

.document a:hover {
  color: $blue-light;
}

.document-metadata {
  font-size: .95em;
}

.document dl.document-metadata dt {
  width: 10%; 
}

.document dl.document-metadata dd {
  margin-left: 12%;
}

/* facets dropdown menus */
.dropdown-menu > li > .facet-label {
    clear: both;
    display: table;
    width:100%;
    font-weight: normal;
    font-size: .9em;
    line-height: 1.42857;
    padding: 3px 15px;
}

.dropdown-menu > li > .facet-label:hover {
  background-color: $gray-lighter;
}
.dropdown-menu > li > .facet-label > .facet_select,
.dropdown-menu > li > .facet-label > .facet-count {
  display: table-cell;
}
.dropdown-menu > li > .facet-label > .facet_select {
  color: #333333;
  text-decoration:none;
  width: 90%;
}
.dropdown-menu > li > .facet-label > .facet-count {
  width: 10%;
  color: $gray-light;
}
.dropdown-menu > li > .facet-label > .facet-count.selected {
  color: #000;
}

.dropdown-menu > li > .facet-label .glyphicon {
  font-size: .8em;
  margin-left: .5em;
}

