
.panel-heading {
  padding-left:10px;
}

.text-success {
  color: #A3A856;
}

#documents {
  padding: 0 20px;
  .document {
    .document-counter {
      display: hide;
    }
    h5 {
      font-size: 1.3em;
    }
    a {
      color: $blue;
    }
    a:hover {
      color: $blue-light;
    }
    .document-metadata {
      font-size: .95em;
      dt {
        width: 10%; 
      }
      dd {
        margin-left: 12%;
      }
    }
  }
}


/* facets dropdown menus */
.facets .nav > li > a {
    padding: 8px 10px;
    color: $gray-dark;
}


.dropdown-menu > li > .facet-label {
  clear: both;
  display: table;
  width:100%;
  min-width: 200px;
  font-weight: normal;
  font-size: .9em;
  line-height: 1.42857;
  padding: 3px 15px;
}

.dropdown-menu > li > .facet-label:hover {
  background-color: $gray-lighter;
}
.dropdown-menu > li > .facet-label > .facet_select,
.dropdown-menu > li > .facet-label > .facet-count {
  display: table-cell;
}
.dropdown-menu > li > .facet-label > .facet_select {
  color: #333333;
  text-decoration:none;
  width: 90%;
}
.dropdown-menu > li > .facet-label > .facet-count {
  width: 10%;
  color: $gray-light;
}
.dropdown-menu > li > .facet-label > .facet-count.selected {
  color: #000;
}

.dropdown-menu > li > .facet-label .fa {
  width: 14px;
  text-align:center;
}

.search-query-form .input-group {
  width: 100%;
  .input-group-btn {
    width: 0; /* bootstrap auto is funky */
  }
}

#map-search {
  position:absolute; 
  top:10px; 
  left:50px;
  padding: 5px 15px;
  border: $border-radius-base;
  background-color: #fff;
  z-index: 20000;
}

#map-search input[type=checkbox] + label{
  color: #f00;
  font-weight: light;
}
#map-search input[type=checkbox]:checked + label{
  color: $gray;
}

