/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.carousel-indicators {
  bottom:10px; 
}

/* Since positioning the image, we need to help out the caption */
#photoCarousel .carousel-caption {
  background: url('nyccsc/bg-grey.png') repeat;
  padding:10px;
}

/* top position */
#photoCarousel .carousel-caption.top {
  top:15px;
  bottom: auto;
}
/* bottom position */
#photoCarousel .carousel-caption.bottom {
  bottom:35px;
}

/* used on news carousel */
.panel-heading .btn-group {
  margin-top: 20px;
}



