/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Since positioning the image, we need to help out the caption */
#photoCarousel {
  .carousel-caption {
    background: url('nyccsc/bg-grey.png') repeat;
    padding:10px;
    .top {
      top:15px;
      bottom: auto;
    }
    .bottom {
      bottom:35px;
    }
  }
  .carousel-indicators {
    bottom:5px; 
  }
}

/* used on news carousel */
.panel-heading .btn-group {
  margin-top: 20px;
}



