/* CUSTOMIZE THE FOOTER
-------------------------------------------------- */

footer {
  @include bg-color($gray-dark,#fff);
  padding: 20px 0;
  h5{
    color: #fff;
    font-size: 1.1em;
  }
  p {
    font-size: .8em;
  }
  a:hover {
    color:$green-light;
  }
}
