
/*******************************************************************************************/
/* branding and search */
/*******************************************************************************************/
#header-navbar{ 
  background-color: $brand-primary;
  border:0;
  /*branding @ top left*/
  .branding {
    a.navbar-brand {
      height: 128px;
      width: 165px;
      margin-right: 0;
    }
    h3 {
      color: #fff;
    }
  }
  .navbar {
    ul.primary-nav {
      li {
        height: 70px; 
        max-width: 140px;
        text-align: center;
        a {
          height: inherit;
        }
      }
    }
  }
  /*#header-search {
    margin-top: 20px;
    input {
      border-top-left-radius: $border-radius-base;
      border-bottom-left-radius: $border-radius-base;
    }
    .btn-primary {
      background-color: $gray-lighter;
      color: $gray;
      border: $gray-dark;
      &:hover {
        background-color: $btn-secondary-bg;
        color: $btn-secondary-color;
        border: $btn-secondary-border;
      }
    } 
    a {
      font-size: .8em;
      color: #fff;
      background-color: inherit;
      padding: 3px 8px;
      &:hover {
        background-color: $green-dark;
        border-radius: 4px;
      }
    }
  }*/
}

header#header-facets {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid $gray-lighter;
  box-shadow: 0 2px 2px $gray-light;
}



/*******************************************************************************************/
/* navbar */
/*******************************************************************************************/

#header-navbar{ 
  
}


