
/*******************************************************************************************/
/* branding and search */
/*******************************************************************************************/
.header-branding{ 
  background-color: #fff;
  padding:10px 0;
  h3 {
    font-size: 19px;
    font-weight: 400;
    color: lighten($gray-dark, 20%);
    margin-top: 5px;
    margin-bottom: 0;
  }
}
.header-navbar {
  margin-top: 20px;
  .navbar-collapse {
    padding: 0;
  }
  a {
    font-size: 16px;
  }
}
  /*#header-search {
    margin-top: 20px;
    input {
      border-top-left-radius: $border-radius-base;
      border-bottom-left-radius: $border-radius-base;
    }
    .btn-primary {
      background-color: $gray-lighter;
      color: $gray;
      border: $gray-dark;
      &:hover {
        background-color: $btn-secondary-bg;
        color: $btn-secondary-color;
        border: $btn-secondary-border;
      }
    } 
    a {
      font-size: .8em;
      color: #fff;
      background-color: inherit;
      padding: 3px 8px;
      &:hover {
        background-color: $green-dark;
        border-radius: 4px;
      }
    }
  }*/


header#header-facets {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid $gray-lighter;
  box-shadow: 0 2px 2px $gray-light;
}




