/* CUSTOMIZE THE MAP
-------------------------------------------------- */

.leaflet-container {
  background: inherit; 
}

svg {
  position: relative;
}

path {
  fill: $green;
  fill-opacity: .2;
  stroke: #fff;
  stroke-width: 1.5px;
}

path:hover, path.active {
  fill: $green-dark;
  fill-opacity: .6;
}

circle {
  fill: #600;
  fill-opacity: .6;
  stroke: #fff;
  stroke-width: 1.5px;
}
circle:hover, circle.active {
  fill: #f00;
  fill-opacity: 1;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  padding: 5px;             
  font: 12px;        
  background: #fff;   
  border: 0px;      
  border-radius: 3px;           
  pointer-events: none;         
}

/* overlay tabs */
.nav.overlay-tabs > li > a {
  padding: 5px
}

.nav-tabs.overlay-tabs > li.active > a, .nav-tabs.overlay-tabs > li.active a:hover, .nav-tabs.overlay-tabs > li.active > a:focus {
  background:#fff;
  outline:0;
}


table td {
  vertical-align: top;
  padding:3px;
}
table td.right {
  text-align: right;
}
table td.left {
  text-align: left;
}