<div class="modal sector" id="agriculture" tabindex="-1" role="dialog" aria-labelledby="Agriculture" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <div class="icon-circle"><span class="icon"><i class="fa fa-leaf"></i></span></div>
          <h4>Agriculture</h4>
      </div>
      <div class="modal-body">

          <p>The Agriculture sector includes livestock, dairy, and crop production, as well as the economically important flower cultivation, nursery, and turf industries.</p>
          <p>Potential climate change <strong>vulnerabilities</strong> for agriculture include heightened weed, insect, and disease pressure on crops, heat stress on livestock and its effects on productivity, and poor spring bloom and yields of apples because of inadequate winter chill hours.  Climate change may bring opportunities for new crop varieties and new markets such as biomass fuel crops.</p>
          <p>On-farm <strong>adaptation strategies</strong> include livestock diet and feeding management, use of fans, sprinklers and other cooling systems for dairy barns, shifting planting dates, diversification of crop varieties and crops, and freeze and frost protection for perennial fruit crops. Adaptation strategies beyond the farm include locally available design and planning assistance, disaster-risk management and insurance, financial assistance, and policy and regulatory decisions.</p>

          <p class="pull-right"><a href="/catalog?f[sector_facet][]=Agriculture&search_field=all_fields">Go to resources <i class="fa fa-angle-double-right"></i></a></p>
          <br class="clearfix">
      </div>
      <div class="modal-footer"></div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal sector" id="water-resources" tabindex="-1" role="dialog" aria-labelledby="Water Resources" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="icon-circle"><span class="icon"><i class="fa fa-tint"></i></span></div>
        <h4>Water Resources</h4>
      </div>
      <div class="modal-body">
        <p>The Water Resources sector encompasses four major themes: flooding in non-coastal regions, drinking water supply, water availability for non-potable uses (primarily agriculture and hydropower), and water quality. </p>
        <p>Potential climate change <strong>vulnerabilities</strong> for water resources and related infrastructure include flooding, an increase in duration and/or frequency of dry periods affecting drinking water supplies, changes in demand for commercial and agricultural water, and declines in water quality due to higher water temperatures and decreased stream flows in summer.  Climate change may bring New York State opportunities as a potentially water-rich area under future climate conditions.</p>
        <p>Water resource <strong>adaptation strategies</strong>  include phased withdrawal of infrastructure from high-risk, floodprone areas, implementation of an automatic gauging and reporting network to provide improved early-warning systems for supply shortages, mechanisms for better coordination of water use in shared water bodies, and establishment of minimum flow requirements for water withdrawals.</p>
        <p class="pull-right"><a href="/catalog?f[sector_facet][]=Water+Resources&search_field=all_fields">Go to resources <i class="fa fa-angle-double-right"></i></a></p>
          <br class="clearfix">
      </div>
      <div class="modal-footer"></div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal sector" id="coastal-zones" tabindex="-1" role="dialog" aria-labelledby="Coastal Zones" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="icon-circle"><span class="icon"><i class="fa fa-anchor"></i></span></div>
        <h4>Coastal Zones</h4>
      </div>
      <div class="modal-body">
        <p>The Coastal Zones sector focuses on the regions close to the ocean, rather than on the coastal areas of the Great Lakes. </p>
        <p>Potential climate change <strong>vulnerabilities</strong> for coastal zones include more frequent coastal flooding over larger areas during storms, increased shoreline erosion leading to alteration of the coastline, changes in the location of the salt front in the Hudson River estuary, loss of coastal wetlands, and changes in fish and shellfish populations.</p>
        <p>Coastal zone <strong>adaptation strategies</strong> include incorporating climate change and sea level rise information into land-use planning, preparation of a detailed inventory of shoreline assets located in at-risk areas, acquiring of open coastal land for storm protection, recreation, and ecosystems, creation of a dynamic framework for updating policy guidelines given the “moving target” of climate change, and establishment of a network of stakeholders and volunteers to assist in monitoring for sea level rise response.</p>
        <p class="pull-right"><a href="/catalog?f[sector_facet][]=Coastal+Zones&search_field=all_fields">Go to resources <i class="fa fa-angle-double-right"></i></a></p>
          <br class="clearfix">
      </div>
      <div class="modal-footer"></div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal sector" id="ecosystems" tabindex="-1" role="dialog" aria-labelledby="Ecosystems" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="icon-circle"><span class="icon"><i class="fa fa-tree"></i> </span></div>
        <h4>Ecosystems</h4>
      </div>
      <div class="modal-body">
        <p>The Ecosystems sector encompasses the plants, fish, wildlife, and resources of all natural and managed landscapes (e.g., forests, grasslands, aquatic systems) in New York State except those land areas designated as agricultural, coastal, or urban. This sector includes timber and maple syrup industries and tourism and recreation businesses conducted within natural and managed ecosystems. It also encompasses interior wetlands, waterways, and lakes as well as their associated freshwater fisheries and recreational fishing. </p>
        <p>Potential climate change <strong>vulnerabilities</strong> for ecosystems include the loss spruce and fir forests in the Adirondacks and major shifts in tree species composition across the state, the loss of hemlock stands as a result of the wooly adelgid insect pest expanding its range northward, the effects on coldwater fish with repercussions for sport fishing, and the impacts on ski and snowmobile businesses.  Climate change may benefit species that are currently constrained by cold temperatures, such as white-tailed deer and bass.</p>
        <p>Ecosystem <strong>adaptation strategies</strong> include creation of migration corridors, reduction of human impacts in particularly vulnerable areas, and creation of more protected areas.</p>
        <p class="pull-right"><a href="/catalog?f[sector_facet][]=Ecosystems&search_field=all_fields">Go to resources <i class="fa fa-angle-double-right"></i></a></p>
          <br class="clearfix">
      </div>
      <div class="modal-footer"></div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- sector tiles -->
<div class="col-sm-12 rounded padded">
  <div class="row vertical-offset-sm">
    
    <div class="col-sm-4">
      <div class="tile">
        <div class="tile-header rounded-top">
          <a href="/catalog?f[sector_facet][]=Agriculture&search_field=all_fields">
            <div class="icon-circle"><span class="icon"><i class="fa fa-leaf"></i></span></div>
          </a>
          <h4>Agriculture</h4>
        </div>
        <div class="tile-content rounded-bottom">
          <p>The Agriculture sector includes livestock, dairy, and crop production, as well as the economically important flower cultivation, nursery, and turf industries. The timber, maple syrup, and fishing industries are not included here; they are included in the Ecosystems or Coastal Zones sectors.</p>
          <div class="pull-right">
            <a href="#" data-toggle="modal" data-target="#agriculture" class="sectors-modal">Learn more <i class="fa fa-angle-double-right"></i></a>
            <br/><a href="/catalog?f[sector_facet][]=Agriculture&search_field=all_fields">Go to resources <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>
    </div>
 
    <div class="col-sm-4">
      <div class="tile rounded">
        <div class="tile-header rounded-top">
          <a href="/catalog?f[sector_facet][]=Water+Resources&search_field=all_fields">
            <div class="icon-circle"><span class="icon"><i class="fa fa-tint"></i></span></div>
          </a>
          <h4>Water Resources</h4>
        </div>
        <div class="tile-content rounded-bottom">  
          <p>The Water Resources sector encompasses four major water resource themes: 1) flooding in non-coastal regions, 2) drinking water supply, 3) water availability for non-potable uses (primarily agriculture and hydropower), and 4) water quality. </p>
          <div class="pull-right">
            <a href="#" data-toggle="modal" data-target="#water-resources" class="sectors-modal">Learn more <i class="fa fa-angle-double-right"></i></a>
            <br/><a href="/catalog?f[sector_facet][]=Water+Resources&search_field=all_fields">Go to resources <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="tile rounded">
        <div class="tile-header rounded-top">
          <a href="/catalog?f[sector_facet][]=Coastal+Zones&search_field=all_fields">
            <div class="icon-circle"><span class="icon"><i class="fa fa-anchor"></i></span></div>
          </a>
          <h4>Coastal Zones</h4>
        </div>
        <div class="tile-content rounded-bottom">
          <p>The Coastal Zones sector focuses on the regions close to the ocean. Climate hazards related to coastal zones encompass the distinct but related factors of sea level rise, coastal storms, increasing coastal water temperatures, and changes in precipitation patterns.</p>
          <div class="pull-right">
            <a href="#" data-toggle="modal" data-target="#coastal-zones" class="sectors-modal">Learn more <i class="fa fa-angle-double-right"></i></a>
            <br/><a href="/catalog?f[sector_facet][]=Coastal+Zones&search_field=all_fields">Go to resources <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row vertical-offset-sm">
    <div class="col-sm-4">
      <div class="tile rounded">
        <div class="tile-header rounded-top">
          <a href="/catalog?f[sector_facet][]=Ecosystems&search_field=all_fields">
            <div class="icon-circle"><span class="icon"><i class="fa fa-tree"></i> </span></div>
          </a>
          <h4>Ecosystems</h4>
        </div>
        <div class="tile-content rounded-bottom">  
          <p>Ecosystems encompass the plants, fish, wildlife, and resources of all natural and managed landscapes (e.g., forests, grasslands, aquatic systems) in New York State except those land areas designated as agricultural, coastal, or urban.</p>
          <div class="pull-right">
            <a href="#" data-toggle="modal" data-target="#ecosystems" class="sectors-modal">Learn more <i class="fa fa-angle-double-right"></i></a>
            <br/><a href="/catalog?f[sector_facet][]=Ecosystems&search_field=all_fields">Go to resources <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="tile rounded">
        <div class="tile-header rounded-top">
          <a href="/catalog?f[sector_facet][]=Buildings&search_field=all_fields">
            <div class="icon-circle"><span class="icon"><i class="fa fa-university"></i></span></div>
          </a>
          <h4>Buildings</h4>
         </div>
         <div class="tile-content rounded-bottom">  
            <p>The Buildings sector encompasses residential, commercial, and government buildings.   </p>
            <div class="pull-right">
              <a href="#">Go to resources <i class="fa fa-angle-double-right"></i></a>
            </div>
         </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="tile rounded">
        <div class="tile-header rounded-top">
          <a href="/catalog?f[sector_facet][]=Transportation&search_field=all_fields">
          <div class="icon-circle"><span class="icon"><i class="fa fa-truck"></i></span></div>
          </a>
          <h4>Transportation</h4>
        </div>
        <div class="tile-content rounded-bottom"> 
          <p>The Transportation sector consists of the built assets, operations, services, and institutions that serve public and private needs for moving goods and people within, to, and from the State of New York. The Transportation sector and the Energy and Telecommunications sectors are highly interdependent.   </p>
          <div class="pull-right">
            <a href="#">Go to resources <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row vertical-offset-sm">
    <div class="col-sm-4">
      <div class="tile rounded">
        <div class="tile-header rounded-top">
          <a href="/catalog?f[sector_facet][]=Telecommunications&search_field=all_fields">
          <div class="icon-circle"><span class="icon"><i class="fa fa-mobile-phone"></i></span></div>
          </a>
          <h4>Telecommunications</h4>
        </div>
        <div class="tile-content rounded-bottom"> 
          <p>The Telecommunications sector involves infrastructure systems and the technological sophistication, availability, accessibility, interconnectivity, broadband capacity, redundancy, security, and reliability of services for users in the private and public sectors.  </p>
          <div class="pull-right">
            <a href="#">Go to resources <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="tile rounded">
        <div class="tile-header rounded-top">
          <a href="/catalog?f[sector_facet][]=Energy&search_field=all_fields">
          <div class="icon-circle"><span class="icon"><i class="fa fa-lightbulb-o"></i></span></div>
          </a>
          <h4>Energy</h4>
        </div>
        <div class="tile-content rounded-bottom"> 
          <p>The Energy sector encompasses energy supply, demand, transmission, distribution, fuel sources, and technologies. Transport-related energy considerations are in the Transportation sector. </p>
          <div class="pull-right">
            <a href="#">Go to resources <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="tile rounded">
        <div class="tile-header rounded-top">
          <a href="/catalog?f[sector_facet][]=Public+Health&search_field=all_fields">
          <div class="icon-circle"><span class="icon"><i class="fa fa-medkit"></i></span></div>
          </a>
          <h4>Public Health</h4>
        </div>
        <div class="tile-content rounded-bottom"> 
          <p>The Public Health sector includes New York State's and New York City's public health systems, services, and infrastructure; public health funding; emergency preparedness; current health status for climate-sensitive diseases; and economic impact. </p>
          <div class="pull-right">
            <a href="#">Go to resources <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>

  $(document).ready(function(){

    //truncate text and add ellipsis
    $('.tile-content p').succinct({
        size: 120
    });

    //add prev/next to modals 
    var sectorCount = $( "a.sectors-modal" ).length - 1;
    var html, prev, next;

    $( "a.sectors-modal" ).each(function( index ) {
      
      html = '', prev = '', next = ''; 

      if (index == 0) {
        next = $( "a.sectors-modal" ).eq( index+1 ).data("target");
        html += '<a class="pull-right" href="#" data-dismiss="modal" data-toggle="modal" data-target="' + next + '">next &raquo;</a>';

      } else if (index == sectorCount) {
        prev = $( "a.sectors-modal" ).eq( index-1 ).data("target");
        html += '<a class="pull-left" href="#" data-dismiss="modal" data-toggle="modal" data-target="' + prev + '">&laquo; prev</a>';

      } else {
        next = $( "a.sectors-modal" ).eq( index+1 ).data("target");
        prev = $( "a.sectors-modal" ).eq( index-1 ).data("target");
        html += '<a class="pull-right" href="#" data-dismiss="modal" data-toggle="modal" data-target="' + next + '">next &raquo;</a>';
        html += '<a class="pull-left" href="#" data-dismiss="modal" data-toggle="modal" data-target="' + prev + '">&laquo; prev</a>';

      }

      // html += '<a href="#" data-dismiss="modal" data-toggle="modal" data-target="' + next + '">next &raquo;</a>';
      // html += '<a href="#" data-dismiss="modal" data-toggle="modal" data-target="' + prev + '">&laquo; prev</a>';
      //this is the broken line of code
      curr = $( "a.sectors-modal" ).eq( index ).data("target");
      $(".modal" + curr).find(".modal-footer").html(html);
      //console.log(curr);
      //$(this).parents().find('.modal-footer').html(html);

    });
  
  });
</script>