<footer>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>New York Climate Change Science Clearinghouse is a website intended to provide decision-makers with reliable cutting-edge information on the state's vulenerability to climate change and to facilitate the development of adaptation strategies informed by both local experience and scientific knowledge.  </p>
        <p class="text-right"><a href="#">Learn more >></a></p>
        
      </div>
      <div class="col-md-offset-6 col-md-2">
        <h5>Contact Us</h5>
        <p>Email: <a href="#" title="info@nyccsc.org">info@nyccsc.org</a><br/>
        Phone: <a href="#" >607.555.5555</a><br/>
        Address: NYSERDA, Albany, New York </p>
        <p>&nbsp;</p>
        <p>&copy; 2014 <a href="#" title="nyserda.org">NYSERDA</p>
        
      </div>
    </div>
  </div>

</footer>