

  <div class="mapResults" id="map" page="default-view" style="width:100%; height:600px;">
      <!--<div id="loading" style="display: block;">
          <div class="loading-indicator">
              <div class="progress progress-striped active">
                  <div class="progress-bar progress-bar-info" style="width: 100%"></div>
              </div>
          </div>
      </div>-->
  </div>

  <%= javascript_include_tag 'map/mapDataOverlays' %>
  <%= javascript_include_tag 'map/mapAddD3Layer' %>

  <script>

  $(document).ready(function() {

      //setup map
      var map = L.map('map').setView([43.1393, -76], 7);

      // add initial layer to map  
      //map.addLayer(OpenStreetMap_BlackAndWhite);

      // map is finished loading
      //$.when(mapResults.onLoad()).done(function() {
      $.when(map).done(function() {
        
        var svg = d3.select(map.getPanes().overlayPane).append("svg");

        //loop through possible overlays and add active layer
        for (var i = 0; i < contextOverlays.length; i++) {
          //console.log(contextOverlays[i].data_source);
          if (contextOverlays[i].active) {
            addPolygonLayerToMap(map,contextOverlays[i].data_source, 
               contextOverlays[i].data_name, 
               contextOverlays[i].active);
          }
           addOverlayButton(contextOverlays[i].data_name, contextOverlays[i].active);
        }
      });
    
  });

  </script>
