  

  <div class="mapResults" id="map" page="default-view" style="width:100%; height:580px;">
    
      <!--<div id="loading" style="display: block;">
          <div class="loading-indicator">
              <div class="progress progress-striped active">
                  <div class="progress-bar progress-bar-info" style="width: 100%"></div>
              </div>
          </div>
      </div>-->
  </div>

  <%= javascript_include_tag 'map/mapDataOverlays' %>
  <%= javascript_include_tag 'map/mapAddLayer' %>
  

  <script>

  $(document).ready(function() {

      //setup map
      var map = L.map('map').setView([43.1393, -76], 7);

      // add base layer to map  
      map.addLayer(OpenStreetMap_BlackAndWhite);

      // map is finished loading, load context layer (home page so just counties)
      map.whenReady(function() {
        
        var layerProperties;
        for (var i = 0; i < contextLayers.length; i++) {

          layerProperties = contextLayers[i];

          if (layerProperties.active) {
            contextLayer = addLayer(layerProperties);
          } 
   
        }

      });

      map.addLayer(contextLayer);

      // on click, go to search page
      contextLayer.on('click', function(e) {
        
        var spatialRef = e.latlng.toString();
        spatialRef = spatialRef.replace("(","").replace(")","").replace(" ", "").replace("LatLng", "spatialsort=");

        //console.log(spatialRef);
        window.location = window.location.protocol + "//" + window.location.host + "/catalog?search_field=all_fields&q=*&" + spatialRef;

      });

      //getData (Ajax call) search results on bounding box change ??
      // map.on('moveend', function(e) {
      //   bounds = map.getBounds();
      //   center = map.getCenter();

        
      //   //&q=*&lat1=" + bounds.getSouthWest().lat + "&lon1=" + bounds.getSouthWest().lng + "&lat2=" + bounds.getNorthEast().lat + "&lon2=" + bounds.getNorthEast().lng + "&midlon=" + center.lng + "&midlat=" + center.lat;

      // });


      
  });


  </script>
