


<div id="main-container" class="container bg-gray">

<div class="row vertical-offset-md">

  <div class="col-sm-12 col-md-12 col-lg-12">
  <!-- Photo/Story Carousel
      ================================================== -->
      <div id="photoCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#photoCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#photoCarousel" data-slide-to="1"></li>
          <li data-target="#photoCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag "nyccsc/carousel/cabin-snow.jpg" %>
            <div class="container">
              <div class="carousel-caption bottom">
                <p class="text-left">Snowpack is projected to decline sharply due to future warming. Communities whose economies depend on skiing and other winter sports as well as people that enjoy these activies will be negatively affected by higher temperatures and reduced snowpack.</p>
                <p class="text-right"><a class="btn btn-md btn-primary" href="#" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="item">
            <%= image_tag "nyccsc/carousel/grapes.jpg" %>
            <div class="container">
              <div class="carousel-caption bottom">
                <p class="text-left">New York’s grape harvest ranked third in the nation in 2007, with the crop valued at nearly 50 million dollars. Increasing temperatures at the beginning of winter reduce cold hardiness and can raise the probability of midwinter damage. In the long term, a longer growing season may bring opportunities to introduce a wider ranger of higher-value, less cold tolerant red grape varieties. </p>
                <p class="text-right"><a class="btn btn-md btn-primary" href="#" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="item">
            <%= image_tag "nyccsc/carousel/statue-of-liberty.jpg" %>
            <div class="container">
              <div class="carousel-caption top">
                <p class="text-left">Warming ocean waters raise sea level and have the potential to strengthen the most powerful storms. New York’s highly developed and populated coastlines are vulnerable to severe coastal storms, such as hurricanes, and flooding.</p>
                <p class="text-right"><a class="btn btn-md btn-primary" href="#" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#photoCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#photoCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div><!-- /.carousel -->
  </div>

</div>


<div class="row vertical-offset-md">  

  <div class="col-sm-8 col-md-8 col-lg-8">
    <!-- <h3>Impact by Region</h3> -->
    <%= render "map_simplified" %> 
  </div>

  <div class="col-sm-4 col-md-4 col-lg-4">
    <!-- <h3>Impact by Sector</h3> -->

    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <a href="/catalog?f[sector_facet][]=Agriculture&search_field=all_fields">
          <div class="tile-wrapper"><span class="tile"><i class="fa fa-leaf"></i><br/>Agriculture</span></div>
        </a>
        <a href="/catalog?f[sector_facet][]=Water+Resources&search_field=all_fields">
          <div class="tile-wrapper"><span class="tile"><i class="fa fa-tint"></i><br/>Water Resources</span></div>
        </a>
        <a href="/catalog?f[sector_facet][]=Coastal+Zones&search_field=all_fields">
          <div class="tile-wrapper"><span class="tile"><i class="fa fa-umbrella"></i><br/>Coastal Zones</span></div>
        </a>
        <a href="/catalog?f[sector_facet][]=Ecosystems&search_field=all_fields">
          <div class="tile-wrapper"><span class="tile"><i class="fa fa-tree"></i><br/>Ecosystems</span></div>
        </a>
         <a href="/catalog?f[sector_facet][]=Buildings&search_field=all_fields">
          <div class="tile-wrapper"><span class="tile"><i class="fa fa-university"></i><br/>Buildings</span></div>
        </a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <a href="/catalog?f[sector_facet][]=Transportation&search_field=all_fields">
          <div class="tile-wrapper"><span class="tile"><i class="fa fa-truck"></i><br/>Transportation</span></div>
        </a>
        <a href="/catalog?f[sector_facet][]=Telecommunications&search_field=all_fields">
          <div class="tile-wrapper"><span class="tile"><i class="fa fa-mobile-phone"></i><br/>Telecommunications</span></div>
        </a>
        <a href="/catalog?f[sector_facet][]=Energy&search_field=all_fields">
          <div class="tile-wrapper"><span class="tile"><i class="fa fa-lightbulb-o"></i><br/>Energy</span></div>
        </a>
        <a href="/catalog?f[sector_facet][]=Public+Health&search_field=all_fields">
          <div class="tile-wrapper"><span class="tile"><i class="fa fa-medkit"></i><br/>Public Health</span></div>
        </a>
      </div>
    </div>
  
  </div>

</div>

<div class="row vertical-offset-md bg-blue padded"> 

  <div class="col-sm-12 col-md-12 col-lg-12">

    <h3>Response Strategies</h3>
      <p>Our choices can make us more or less vulnerable to climate change. Two primary strategies include mitigation and adaptation, and there are a variety of interactions between these measures. For example, improving insulation and using reflective roofing materials keeps buildings cooler in summer (adaptation) as well as reducing energy use and the related emissions (mitigation). Both adaptation and mitigation are necessary elements of an effective response strategy.</p>
      
      
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="tile-response bg-blue-dark padded">
            <p><strong>Mitigation</strong> is action taken to reduce the severity of climate change.  Early mitigation will make it easier to adapt to climate change later on.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="tile-response bg-blue-dark padded">
            <p><strong>Adaptation</strong> refers to actions taken to prepare for climate change, helping to reduce adverse impacts or take advantage of beneficial ones.</p>
          </div>
        </div>
      </div>
      
  </div><!-- end col-lg-4 -->

</div><!-- end row -->

<div class="row vertical-offset-md padded">

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="btn-group pull-right">
          <a class="btn btn-primary" href="#newsCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="btn btn-primary" href="#newsCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div><!-- end btn-group -->
        <h3>News &amp; Events</h3>
      </div><!-- end panel-heading -->
      <div class="panel-body">
        <div id="newsCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
      
        <div class="carousel-inner">
          <div class="item active">
            <div class="container">
                <div class="col-md-3">

                    <!--<div class="circle-info">
                      <span class="xl">29</span>
                      <span class="lg">Jan 2014</span>
                      <span class="md">6 pm</span>
                    </div>-->
                    <time datetime="" class="icon">
                      <em>2014</em>
                      <strong>JUL</strong>
                      <span>30</span>
                    </time>
                    <h5>Brian Swett discusses Boston’s climate future</h5>
                    <p><strong>Placeholder</strong> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla congue orci eu elit accumsan eleifend. Maecenas sed eleifend leo. Suspendisse euismod est sit amet ultricies scelerisque.</p>
                    <p class="clearfix"></p>
                </div>
                <div class="col-md-3">
                    <time datetime="" class="icon">
                      <em>2014</em>
                      <strong>JUL</strong>
                      <span>28</span>
                    </time>
                    <h5>Eastern Pacific temperatures say yes to El Niño, western Pacific undecided</h5>
                    <p><strong>Placeholder</strong> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla congue orci eu elit accumsan eleifend. Maecenas sed eleifend leo. Suspendisse euismod est sit amet ultricies scelerisque.</p>
                    <p class="clearfix"></p>
                </div>
                <div class="col-md-3">
                    <time datetime="" class="icon">
                      <em>2014</em>
                      <strong>JUL</strong>
                      <span>28</span>
                    </time>
                    <h5>Sea Level Rise and Nuisance Flood Frequency Changes around the United States</h5>
                    <p><strong>Placeholder</strong> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla congue orci eu elit accumsan eleifend. Maecenas sed eleifend leo. Suspendisse euismod est sit amet ultricies scelerisque.</p>
                    <p class="clearfix"></p>
                </div>
                <div class="col-md-3">
                    <time datetime="" class="icon">
                      <em>2014</em>
                      <strong>JUL</strong>
                      <span>12</span>
                    </time>
                    <h5>2013 State of the Climate: Snow in the Northern Hemisphere</h5>
                    <p><strong>Placeholder</strong> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla congue orci eu elit accumsan eleifend. Maecenas sed eleifend leo. Suspendisse euismod est sit amet ultricies scelerisque.</p>
                    <p class="clearfix"></p>
                </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
                <div class="col-md-3">

                    <!--<div class="circle-info">
                      <span class="xl">29</span>
                      <span class="lg">Jan 2014</span>
                      <span class="md">6 pm</span>
                    </div>-->
                    <time datetime="" class="icon">
                      <em>2014</em>
                      <strong>JUL</strong>
                      <span>30</span>
                    </time>
                    <h5>Brian Swett discusses Boston’s climate future</h5>
                    <p><strong>Placeholder</strong> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla congue orci eu elit accumsan eleifend. Maecenas sed eleifend leo. Suspendisse euismod est sit amet ultricies scelerisque.</p>
                    <p class="clearfix"></p>
                </div>
                <div class="col-md-3">
                    <time datetime="" class="icon">
                      <em>2014</em>
                      <strong>JUL</strong>
                      <span>28</span>
                    </time>
                    <h5>Eastern Pacific temperatures say yes to El Niño, western Pacific undecided</h5>
                    <p><strong>Placeholder</strong> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla congue orci eu elit accumsan eleifend. Maecenas sed eleifend leo. Suspendisse euismod est sit amet ultricies scelerisque.</p>
                    <p class="clearfix"></p>
                </div>
                <div class="col-md-3">
                    <time datetime="" class="icon">
                      <em>2014</em>
                      <strong>JUL</strong>
                      <span>28</span>
                    </time>
                    <h5>Sea Level Rise and Nuisance Flood Frequency Changes around the United States</h5>
                    <p><strong>Placeholder</strong> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla congue orci eu elit accumsan eleifend. Maecenas sed eleifend leo. Suspendisse euismod est sit amet ultricies scelerisque.</p>
                    <p class="clearfix"></p>
                </div>
                <div class="col-md-3">
                    <time datetime="" class="icon">
                      <em>2014</em>
                      <strong>JUL</strong>
                      <span>12</span>
                    </time>
                    <h5>2013 State of the Climate: Snow in the Northern Hemisphere</h5>
                    <p><strong>Placeholder</strong> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla congue orci eu elit accumsan eleifend. Maecenas sed eleifend leo. Suspendisse euismod est sit amet ultricies scelerisque.</p>
                    <p class="clearfix"></p>
                </div>
            </div>
          </div>
        </div><!-- end carousel-inner -->
      </div><!-- end #newsCarousel --> 
    </div><!-- end panel-body -->
  </div><!-- end panel -->
</div><!-- end row -->

</div><!-- end container -->









