
<div id="panels-wrapper">

    <div class="pane ui-layout-center">

      <p><strong>Search Results</strong></p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer est magna, rhoncus eu luctus eu, porta interdum libero. Fusce malesuada arcu eu mauris sodales, et tincidunt turpis tristique. Fusce a dignissim ante. Fusce ut felis dignissim, consequat tortor sed, sollicitudin dolor. Nam nec arcu arcu. Vestibulum mattis leo a elit molestie egestas. Nam consequat aliquam leo, et blandit quam tristique ut. Duis ornare diam vitae purus sollicitudin, ut sagittis ipsum dictum. Donec aliquam nunc id tortor volutpat semper. Fusce augue ligula, placerat sit amet facilisis dignissim, molestie a mauris. Curabitur ornare lacinia ipsum, eget luctus sem consequat placerat.</p>

      <p>Maecenas augue est, pretium eget mollis non, porttitor at purus. Nunc eu erat quis elit convallis pretium vitae non odio. Praesent luctus mi in viverra posuere. Cras vitae est a lacus vestibulum gravida eu eget nulla. Praesent pharetra enim at nisl euismod pellentesque. Nullam scelerisque iaculis mi, vitae ultricies lorem porttitor in. Cras ullamcorper elit in lectus pretium, et accumsan dolor hendrerit. Cras ut tortor magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc et egestas nulla. Vestibulum in erat non felis laoreet vehicula ac vel ipsum.</p>

      <p>Duis ut quam eleifend, dictum augue molestie, vulputate tellus. Suspendisse dapibus odio et posuere vestibulum. Mauris eros orci, laoreet et diam at, cursus varius ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut accumsan eleifend facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquam eros eu ipsum vulputate, non vulputate erat porta.</p>

      <p>Integer ac tincidunt metus. Phasellus faucibus ante pellentesque metus tincidunt iaculis. Nunc urna est, ornare et vestibulum a, pellentesque vitae enim. Nulla auctor imperdiet vehicula. Quisque metus lacus, aliquam id dui sit amet, pulvinar sollicitudin felis. Aliquam nec gravida sapien, ac luctus sem. Integer mattis ligula non magna suscipit, id fringilla dui facilisis. Maecenas justo mauris, congue id nunc eu, dapibus blandit elit. Mauris eleifend nunc tempus nisl ullamcorper condimentum. Sed tristique vel dui nec imperdiet. Mauris rutrum posuere ante, vel pellentesque ipsum lobortis quis. Fusce accumsan purus sed consequat tristique. Fusce pulvinar, arcu in condimentum vestibulum, felis lorem commodo quam, a pulvinar nibh turpis a mauris. Morbi sem arcu, accumsan et bibendum eget, viverra quis sem. Aliquam ut imperdiet enim. Nulla facilisi. </p>
    </div>
    
    <div class="pane ui-layout-east">Map Placeholder</div>
    <div class="pane ui-layout-west">Facets Placeholder</div>
    <div class="pane ui-layout-south">South</div>

</div>

<script>
$(document).ready(function () {
    var options = { //resizable: true 
      west: {minSize: 200}
    , west__togglerContent_open:   "&#8249;" // "‹"
    , west__togglerContent_closed: "&#8250;" // "›"
    , east__togglerContent_open:   "&#8250;" // "›"
    , east__togglerContent_closed: "&#8249;" // "‹"
    }
    $('#panels-wrapper').layout(options);
});
</script>
