<% content_for :title do %>
  Impacts &amp; Risks| NY Climate Change Science Clearinghouse
<% end %>

<div id="main-container" class="container">

  <div class="row vertical-offset-md">&nbsp;</div>
     
  <div class="row vertical-offset-md">

    <div class="col-lg-12">

      <h1>Impacts &amp; Risks</h1>

    </div>

      <!-- START THE FEATURETTES -->
    <div class="row vertical-offset-md">

    <div class="col-sm-12 col-md-12">

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-sm-9 col-md-9">
            <h3 class="featurette-heading">Heat Waves</h3>
            <p class="lead">Heat waves will become more frequent and intense, increasing heat-related illness and death and posing new challenges to the energy system, air quality, and agriculture.</p>
          </div>
          <div class="col-sm-3 col-md-3">
            <img class="featurette-image img-responsive" src="http://fpoimg.com/300x300?text=Placeholder Image" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-sm-3 col-md-3">
            <img class="featurette-image img-responsive" src="http://fpoimg.com/300x300?text=Placeholder Image" alt="Generic placeholder image">
          </div>
          <div class="col-sm-9 col-md-9">
            <h3 class="featurette-heading">Summer Drought</h3>
            <p class="lead">Summer drought is projected to increase, affecting water supply, agriculture, ecosystems, and energy production.</p>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-sm-9 col-md-9">
            <h3 class="featurette-heading">Heavy Downpours</h3>
            <p class="lead">Heavy downpours are increasing and are projected to increase further. These can lead to flooding and related impacts on water quality, infrastructure, and agriculture.</p>
          </div>
          <div class="col-sm-3 col-md-3">
            <img class="featurette-image img-responsive" src="http://fpoimg.com/300x300?text=Placeholder Image" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-sm-3 col-md-3">
            <img class="featurette-image img-responsive" src="http://fpoimg.com/300x300?text=Placeholder Image" alt="Generic placeholder image">
          </div>
          <div class="col-sm-9 col-md-9">
            <h3 class="featurette-heading">Coastal Flooding</h3>
            <p class="lead">Coastal flooding due to sea level risk and storm surge will increasingly put lives and property at risk. Health, water quality, energy, infrastructure, and coastal ecosystems are all affected.</p>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-sm-9 col-md-9">
            <h3 class="featurette-heading">Wide-ranging Impacts</h3>
            <p class="lead">Major changes to ecosystems including species range shifts, population crashes, and other sudden transformations could have wide-ranging impacts, not only for natural systems but also for health, agriculture, and other sectors.</p>
          </div>
          <div class="col-sm-3 col-md-3">
            <img class="featurette-image img-responsive" src="http://fpoimg.com/300x300?text=Placeholder Image" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-sm-3 col-md-3">
            <img class="featurette-image img-responsive" src="http://fpoimg.com/300x300?text=Placeholder Image" alt="Generic placeholder image">
          </div>
          <div class="col-sm-9 col-md-9">
            <h3 class="featurette-heading">Extreme Weather</h3>
            <p class="lead">Extreme weather can have a big impact in a short time.  Climate models predict significant changes in the frequency and intensity of some extreme weather events over the coming decades.  New Yorkers can expect more and longer-lasting heat waves and fewer extreme cold events as well as more heavy rainfalls and short-duration droughts.  These events affect energy systems, agriculture, air quality, water quality, infrastructure, and ecosystems.</p>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          
          <div class="col-sm-9 col-md-9">
            <h3 class="featurette-heading">Snowpack Decline</h3>
            <p class="lead">The accumulation of winter snow is projected to decline sharply by the end of this century.  This decline has implications for New York’s water supply and for tourism.  Skiing and snowmobiling contribute close to $2 billion to New York State’s economy each year, and the success of these recreational industries depends directly on a healthy snowpack.  </p>
          </div>
          <div class="col-sm-3 col-md-3">
            <img class="featurette-image img-responsive" src="http://fpoimg.com/300x300?text=Placeholder Image" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-sm-3 col-md-3">
            <img class="featurette-image img-responsive" src="http://fpoimg.com/300x300?text=Placeholder Image" alt="Generic placeholder image">
          </div>
          <div class="col-sm-9 col-md-9">
            <h3 class="featurette-heading">Growing Regions</h3>
            <p class="lead">Agriculture is an important business sector in New York, contributing nearly $5 billion to the state’s economy. Climate change offers some opportunities for farmers, including longer growing seasons that can mean higher yields, the ability to grow varieties of wine grapes that previously grew only in Europe, and the chance to grow new crops.  Extreme heat events will stress dairy and apple farms, however, and farmers will face water management challenges brought on by more frequent heavy rainfall events and drought.</p>
          </div>
        </div>

        <!-- /END THE FEATURETTES -->
      </div>

    </div>

  </div>

</div>