<% content_for :title do %>
  Impacts &amp; Risks| NY Climate Change Science Clearinghouse
<% end %>

<!--<div id="main-container" class="container">-->

  <div class="row vertical-offset-md">&nbsp;</div>
     
  <div class="row vertical-offset-md">

    <div class="col-lg-12">

      <h1>Impacts &amp; Risks</h1>

      <h3>Extreme Weather</h3>

      <p>Extreme weather can have a big impact in a short time.  Climate models predict significant changes in the frequency and intensity of some extreme weather events over the coming decades.  New Yorkers can expect more and longer-lasting heat waves and fewer extreme cold events. Heavy rainfalls are likely to increase statewide. Short-duration summer droughts are likely to become more common.   These events affect energy systems, agriculture, air quality, water quality, infrastructure, and ecosystems.</p>

      <h3>Rising Sea Levels and Coastal Flooding </h3>

      <p>As sea levels rise, coastal flooding associated with storms will very likely increase in intensity, frequency, and duration and will increasingly put lives and property at risk. By the end of the 21st century, sea level rise alone would increase the frequency of coastal flood levels that currently occur on average once per decade to once every one to three years for New York City. Higher storm surges associated with higher sea levels could periodically engulf a much greater area. </p>

      <h3>Snowpack Decline </h3>

      <p>Snowpack -- the accumulation of winter snow -- is projected to decline sharply by the end of this century.  This decline has implications for New York’s water supply and for tourism.  Skiing and snowmobiling contribute close to $2 billion to New York State’s economy each year, and the success of these recreational industries depends directly on a healthy snowpack.  Trout fishing tourism also depends on the snowpack, as melting snow provides cool water that trout need to thrive.</p>

      <h3>Changes in Growing Regions </h3>

      <p>Agriculture is an important business sector in New York, contributing nearly $5 billion to the state’s economy. Climate change offers some opportunities for farmers, including longer growing seasons that can mean higher yields, the ability to grow varieties of wine grapes that previously grew only in Europe, and the chance to grow new crops.  Extreme heat events will stress dairy and apple farms, however, and farmers will face water management challenges brought on by more frequent heavy rainfall events and drought.</p>

    </div>

  </div>

<!-- </div> -->