
<div id="main-container" class="container">

  <div class="row vertical-offset-md">

    <div class="col-lg-12">

      <h1>Coastal Zones</h1>

      <p>High water levels, strong winds, and heavy precipitation resulting from severe coastal storms already cause billions of dollars in damages and disrupt transportation and power distribution systems. Sea level rise will lead to more frequent and extensive coastal flooding. Warming ocean waters raise sea level through thermal expansion and have the potential to strengthen the most powerful storms.</p>

      <p>Barrier islands are being dramatically altered by strong coastal storms as ocean waters overwash dunes, create new inlets, and erode beaches.</p>
     
      <p>Sea level rise will greatly amplify risks to coastal populations and will lead to permanent inundation of low-lying areas, more frequent flooding by storm surges, and increased beach erosion.</p>
     
      <p>Loss of coastal wetlands reduces species diversity, including fish and shellfish populations. Some marine species, such as lobsters, are moving north out of New York State, while other species, such as the blue claw crab, are increasing in the warmer waters.</p>
     
      <p>Saltwater could reach farther up the Hudson River and into estuaries, contaminating water supplies. Tides and storm surges may propagate farther, increasing flood risk both near and far from the coast.</p>
     
      <p>Sea level rise may become the dominant stressor acting on vulnerable salt marshes.</p>
    
    </div>

  </div>

</div>