<% content_for :title do %>
  Strategies | NY Climate Change Science Clearinghouse
<% end %>

<section class="page-title">
  <div class="container">
    <h1>Response Strategies</h1>
  </div>
</section>

<div id="main-container" class="container">

  <div class="row vertical-offset-md">&nbsp;</div>
     
  <div class="row vertical-offset-md">
    <div class="col-sm-12">
      <h1></h1>
    </div>
  </div>

  <div class="row vertical-offset-md">
    <div class="col-sm-6">
      <%= image_tag "nyccsc/strategies/stock-photo-28378566-bridge-that-gap.jpg", class:"img-responsive img-border" %>
    
      <h3>Adaptation</h3>
      <p>Adaptation refers to actions that take place in response to a changing climate. Adaptation strategies can be operational, managerial, budgetary, or involve infrastructure changes that will result in reducing risk and/or taking advantage of potential opportunities associated with climate change. A strategy is usually developed for a key vulnerability. Adaptation strategies do not directly include actions that reduce the likelihood of climate change occurring. </p>
      <ul class="fa-ul">
        <li> <a href="/catalog/n13101?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n13101"><i class="fa-li fa fa-external-link-square"></i> State and Local Adaptation Plans</a></li>
        <li> <a href="/catalog/n4221?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n4221"><i class="fa-li fa fa-external-link-square"></i> Adaptation Clearinghouse</a></li>
        <li> <a href="/catalog/n188?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n188"><i class="fa-li fa fa-external-link-square"></i> U.S. Climate Resilience Toolkit</a></li>
        <li><a href="/catalog/n3601?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n3601"><i class="fa-li fa fa-external-link-square"></i> Adaptation Tools for Public Officials</a></li>
      </ul>
      <p><a href="/catalog?f[strategy_facet][]=Adaptation">All resources <i class="fa fa-angle-double-right"></i></a></p>
    </div>
    <div class="col-sm-6">

      <%= image_tag "nyccsc/strategies/stock-photo-4533632-two-wind-turbines-at-twilight-in-autumn.jpg", class:"img-responsive img-border" %>
    
      <h3>Mitigation </h3>
      <p>Mitigation is action taken to reduce the severity of climate change. For example, companies that support employee carpools are mitigating climate change by reducing fossil fuel burning and the related release of carbon dioxide. Early mitigation will make it easier to adapt to climate change at a later time.</p>
      <ul class="fa-ul">
        <li><a href="/catalog/n10258?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n10258"><i class="fa-li fa fa-external-link-square"></i> EPA Greenhouse Gas Emissions</a></li>
        <li> <a href="/catalog/n7877?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n7877"><i class="fa-li fa fa-external-link-square"></i> United States Energy Information Administration (EIA) Independent Statistics and Analysis</a></li>
        <li> <a href="/catalog/n3227?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n3227"><i class="fa-li fa fa-file"></i> PlaNYC: Inventory of New York Greenhouse Gas Emissions</a></li>
        </ul>
      <p><a href="/catalog?f[strategy_facet][]=Mitigation">All resources <i class="fa fa-angle-double-right"></i></a></p>
    </div>

  </div>


  <div class="row bg-blue rounded-top padded">
    <div class="col-sm-6">
      <h3>Steps in Building Climate Resilience </h3>
    </div>
    <div class="col-sm-6">
      <p class="pull-right">Reducing the level of physical, social, or economic impact of climate variability and change through knowledge of  climate risk information, vulnerabilities, and adaptation options. </p>
    </div>
  </div>

  <div class="row vertical-offset-md bg-steps-resilience">

    <div class="col-sm-12">

      <div class="row vertical-offset-md"></div>

      <div class="row">

      
        <div class="col-sm-6">

          <div class="row">

            <div class="col-sm-6 padded">

                <div class="steps-box arrow-right padded">
                  <div class="icon-circle"><span class="step">1</span></div>
                  <h3>Identify Risks and Determine Vulnerabilities</h3>
                </div>
                <!-- <p></p>
                <ul class="fa-ul">
                  <li><a href="/catalog/n7250?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n7250"><i class="fa-li fa fa-file"></i> Assessing Criticality in Transportation Adaptation Planning</a></li>
                  <li><a href="/catalog/n7039?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n7039"><i class="fa-li fa fa-file"></i> Climate Change Vulnerability Assessment for Culverts</a></li>
                  <li><a href="/catalog/n2244?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n2244"><i class="fa-li fa fa-external-link-square"></i> Sea Level Rise and Coastal Flooding Impacts Viewer</a></li>
                </ul> -->
              </div>
              <div class="col-sm-6 padded">
                <div class="steps-box arrow-bottom padded">
                  <div class="icon-circle"><span class="step">2</span></div>
                  <h3>Investigate and Evaluate Adaptation Strategies and Options</h3>
                </div>
                <!-- <p></p>
                <ul class="fa-ul">
                  <li><a href="/catalog/n13101?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n13101"><i class="fa-li fa fa-external-link-square"></i> State and Local Adaptation Plans</a></li>
                </ul> -->
              </div>
              <div class="col-sm-6 padded">
                <div class="steps-box padded">
                  <div class="icon-circle"><span class="step">4</span></div>
                  <h3>Take Action to Manage Risks & Pursue Opportunities</h3>
                </div>
                <!-- <p></p>
                <ul class="fa-ul">
                  <li><a href="/catalog/n7274?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n7274"><i class="fa-li fa fa-file"></i> Vision 2020: New York City Comprehensive Waterfront Plan</a></li>
                  <li><a href="/catalog/n7672?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n7672"><i class="fa-li fa fa-file"></i> 2012 DOT Climate Adaptation Plan</a></li>
                  <li><a href="/catalog/n5471?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n5471"><i class="fa-li fa fa-file"></i> Flood Resilience Checklist</a></li>
                </ul> -->
              </div>
              <div class="col-sm-6 padded">
                <div class="steps-box arrow-left padded">
                  <div class="icon-circle"><span class="step">3</span></div>
                  <h3>Conduct Cost-Benefit Analysis  and Prioritize Actions</h3>
                </div>
                <!-- <p></p>
                <ul class="fa-ul">
                  <li><a href="/catalog/n1943?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n1943"><i class="fa-li fa fa-file"></i> Annex III: An Economic Analysis of Climate Change Impacts and Adaptations in New York State</a></li>
                </ul> -->
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>

</div>

