<% content_for :title do %>
  Strategies | NY Climate Change Science Clearinghouse
<% end %>

<div id="main-container" class="container">

  <div class="row vertical-offset-md">&nbsp;</div>
     
  <div class="row vertical-offset-md">

    <div class="col-lg-12">

      <h1>Response Strategies</h1>

      <h3>Mitigation </h3>
      <p>Mitigation is action taken to reduce the severity of climate change.  For example, companies that support employee carpools are mitigating climate change by reducing fossil fuel burning and the related release of carbon dioxide. Early mitigation will make it easier to adapt to climate change later on. </p>

      <h3>Adaptation</h3>
      <p>Adaptation refers to action taken to prepare for the unavoidable effects of climate change.  Tree planting, green roofs, and the use of high-reflectivity building materials are examples of adaptive actions that keep living and working spaces cool, reducing public health risks from extreme heat.</p>

      <p><strong>Both adaptation and mitigation are necessary elements of an effective response strategy.</strong>

      <hr/>

      <h3>Planning and Decision Making </h3>
      <p>People and communities need to design, review, and choose courses of action to respond to climate change. Planners and decision makers need reliable data, case studies of actions taken by other communities, and decision tools.</p>

      <h3>Research and Monitoring</h3>
      <p>In order to respond to climate change, we need to know how and why the climate is changing.  Research helps us understand the root causes of climate change and the effect on systems, life, and the built environment.   Monitoring the changing climate, its effects, and the success of various adaptation strategies gives us information that helps us decide on the best courses of action.  For example, historical sea level data, current sea level monitoring, and sea level model predictions help coastal communities develop regulations that protect their built assets. </p>

      <h3>Outreach</h3>
      <p>Building effective responses requires outreach to improve understanding and communication among residents, business owners, policy makers, planners, scientists, and communities.   </p>


    </div>

  </div>

</div>