<% content_for :title do %>
  Understand Climate Change | NY Climate Change Science Clearinghouse
<% end %>

<div id="main-container" class="container">

  <div class="row vertical-offset-md">&nbsp;</div>
     
  <div class="row vertical-offset-md">

    <div class="col-lg-6">
      <img src="http://fpoimg.com/550x600?text=Climate Change Infographic">
    </div>

    <div class="col-lg-6">

      <h1>Understand Climate Change</h1>

      <p>Temperatures are increasing, precipitation patterns are changing, and sea level is rising.  These climatic changes are projected to occur at much faster than natural rates because of increased amounts of greenhouse gases in the atmosphere. Some types of extreme weather and climate events have already increased in frequency and intensity, and these changes are projected to continue. </p>
       
      <p>These climate changes are already having impacts in some aspects of society, the economy, and natural ecosystems and these impacts are expected to increase. Not all of these changes will be gradual. When certain tipping points are crossed, impacts can increase dramatically. Past climate is no longer a reliable guide to the future. This affects planning for water, energy, and all other social and economic systems.</p>

      <p>Furthermore, interactions between climate change and other stresses such as pollution and increasing demand for resources will create new challenges.</p>
    
    </div>

  </div>

  <!-- START THE FEATURETTES -->
  <div class="row vertical-offset-md">

  <div class="col-md-12">
     <h1>Impacts</h1>
  </div>

  <div class="col-md-12">

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-9">
          <h3 class="featurette-heading">Heat Waves</h3>
          <p class="lead">Heat waves will become more frequent and intense, increasing heat-related illness and death and posing new challenges to the energy system, air quality, and agriculture.</p>
        </div>
        <div class="col-md-3">
          <img class="featurette-image img-responsive" src="http://fpoimg.com/300x300?text=Placeholder Image" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-3">
          <img class="featurette-image img-responsive" src="http://fpoimg.com/300x300?text=Placeholder Image" alt="Generic placeholder image">
        </div>
        <div class="col-md-9">
          <h3 class="featurette-heading">Summer Drought</h3>
          <p class="lead">Summer drought is projected to increase, affecting water supply, agriculture, ecosystems, and energy production.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-9">
          <h3 class="featurette-heading">Heavy Downpours</h3>
          <p class="lead">Heavy downpours are increasing and are projected to increase further. These can lead to flooding and related impacts on water quality, infrastructure, and agriculture.</p>
        </div>
        <div class="col-md-3">
          <img class="featurette-image img-responsive" src="http://fpoimg.com/300x300?text=Placeholder Image" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-3">
          <img class="featurette-image img-responsive" src="http://fpoimg.com/300x300?text=Placeholder Image" alt="Generic placeholder image">
        </div>
        <div class="col-md-9">
          <h3 class="featurette-heading">Coastal Flooding</h3>
          <p class="lead">Coastal flooding due to sea level risk and storm surge will increasingly put lives and property at risk. Health, water quality, energy, infrastructure, and coastal ecosystems are all affected.</p>
        </div>
      </div>


      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-9">
          <h3 class="featurette-heading">Wide-ranging Impacts</h3>
          <p class="lead">Major changes to ecosystems including species range shifts, population crashes, and other sudden transformations could have wide-ranging impacts, not only for natural systems but also for health, agriculture, and other sectors.</p>
        </div>
        <div class="col-md-3">
          <img class="featurette-image img-responsive" src="http://fpoimg.com/300x300?text=Placeholder Image" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
    </div>

  </div>

</div>


  <!--<div class="row vertical-offset-md">

    <div class="col-lg-4">
      <div class="well">
      <h4>Heat Waves</h4>
      <p>Heat waves will become more frequent and intense, increasing heat-related illness and death and posing new challenges to the energy system, air quality, and agriculture.</p>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="well">
      <h4>Summer Drought</h4>
      <p>Summer drought is projected to increase, affecting water supply, agriculture, ecosystems, and energy production.</p>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="well">
      <h4>Heavy Downpours</h4>
      <p>Heavy downpours are increasing and are projected to increase further. These can lead to flooding and related impacts on water quality, infrastructure, and agriculture.</p>
      </div>
    </div>

  </div>

  <div class="row vertical-offset-md">

    <div class="col-lg-4">
      <div class="well">
      <h4>Coastal Flooding</h4>
      <p>Coastal flooding due to sea level risk and storm surge will increasingly put lives and property at risk. Health, water quality, energy, infrastructure, and coastal ecosystems are all affected.</p>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="well">
      <h4>Wide-ranging Impacts</h4>
      <p>Major changes to ecosystems including species range shifts, population crashes, and other sudden transformations could have wide-ranging impacts, not only for natural systems but also for health, agriculture, and other sectors.</p>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="well">
      <h4>Opportunities</h4>
      <p>Climate change may create new opportunities related to a longer, warmer growing season for agriculture, and the potential for abundant water resources.</p>
      </div>
    </div>

  </div>

</div>-->

