<% content_for :title do %>
  Understand Climate Change | NY Climate Change Science Clearinghouse
<% end %>

<div id="main-container" class="container">

  <div class="row vertical-offset-md">&nbsp;</div>
     
  <div class="row vertical-offset-md">

    <div class="col-lg-8">
      <img src="http://fpoimg.com/550x600?text=Climate Change Infographic">
    </div>

    <div class="col-lg-4">

      <h1>Understand Climate Change</h1>

      <p>Temperatures are increasing, precipitation patterns are changing, and sea level is rising.  These climatic changes are projected to occur at much faster than natural rates because of increased amounts of greenhouse gases in the atmosphere. Some types of extreme weather and climate events have already increased in frequency and intensity, and these changes are projected to continue. </p>
       
      <p>These climate changes are already having impacts in some aspects of society, the economy, and natural ecosystems and these impacts are expected to increase. Not all of these changes will be gradual. When certain tipping points are crossed, impacts can increase dramatically. Past climate is no longer a reliable guide to the future. This affects planning for water, energy, and all other social and economic systems.</p>

      <p>Furthermore, interactions between climate change and other stresses such as pollution and increasing demand for resources will create new challenges.</p>
    
    </div>

  </div>

</div>



