<% # for mapping application %>
<%= javascript_tag "var docs = #{documents.to_json};" %>

<% # container for all documents in index view -%>
<div id="documents" class="docView">
  <%= render documents, :as => :document %>
</div>

