<% # main container for facets/limits menu -%>
<% if has_facet_values?  %>
  <div class="facets">
    <ul class="nav nav-pills">
      <!-- <h6>Browse by</h6> -->
      <%= render_facet_partials %>
    </ul>
  </div>
<% end %>