<h4>NYCCSC</h4>
<p>&nbsp;</p>
<p>New York Climate Change Science Clearinghouse</p>
<% #Creates a bit space in the page -%>

<!-- Copied from Steve's work with leaflet-->  
<!-- Deleting the navigation for now-->     
   
    <div class="row" id="container">
         <!-- Commenting out sidebar stuff for now -->
         <!--
        <div class="col-sm-4 col-lg-4" id="sidebar" style="padding: 10px; overflow: auto;">
       -->
        <!--    <div class="input-group well well-sm" style="margin-bottom: 10px;">
                <input id="searchbox" type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
            </div> -->
<!-- Tabs    -->         
        <!--    <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="tabbable" id="tabs-335898">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#wstations" data-toggle="tab">ACIS Stations</a>
                            </li>
                            <li class="">
                                <a href="#gages" data-toggle="tab">USGS Gages</a>
                            </li>
                            <li>
                                <a href="#counties" data-toggle="tab">Counties</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="wstations">
                                <div >
                                    <table id="wstation-list" class='table table-striped table-bordered table-condensed'>
                                    </table>
                                </div> 
                            </div>
                            <div class="tab-pane " id="gages">
                                <div >
                                    <table id="gage-list" class='table table-striped table-bordered table-condensed'>
                                    </table>
                                </div> 
                            </div>
                            <div class="tab-pane" id="counties">
                                <div>
                                </br>
                                    <table id="county-list" class='table table-striped table-bordered table-condensed'>
                                    </table>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- old classes for this div col-sm-8 col-lg-8-->
        <div class="mapview-map" id="map" page="home">
            <div id="loading" style="display: block;">
                <div class="loading-indicator">
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-info" style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Copied from Steve's work with Leaflet-->
<br>
<br>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Recent Documents</h4>
      </div>
      <div class="panel-body">
         <ul>
          <li>
            <a href="#">Document 1</a>
          </li>
          <li>
            <a href="#">Document 2</a>
          </li>
          <li>
            <a href="#">Document 3</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Featured Data Products</h4>
      </div>
      <div class="panel-body">
        <ul>
          <li>
            <a href="#">Amazing Data 1</a>
          </li>
          <li>
            <a href="#">Amazing Data 2</a>
          </li>
          <li>
            <a href="#">Amazing Data 3</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<p>&nbsp;</p>
