<div id="documents">
  <h4><%= t('blacklight.welcome') %></h4>
  <p>&nbsp;</p>
  <p>Welcome to the Maps &amp; Data portion of our website.  To start, either enter a search term, select a facet term, or select a portion of the map.</p>
</div>
<% #Creates a bit space in the page -%>
