

  <!-- default map / should default to NYS -->
  <div class="mapResults" id="map" page="default-view" style="width:100%; height:600px;">
      <div id="loading" style="display: block;">
          <div class="loading-indicator">
              <div class="progress progress-striped active">
                  <div class="progress-bar progress-bar-info" style="width: 100%"></div>
              </div>
          </div>
      </div>
  </div>


<% # for mapping application %>
<%= javascript_include_tag 'mapData' %>
<%= javascript_include_tag 'mapResults' %>
<% #javascript_include_tag 'mapInitialize' %>

<script>

$(document).ready(function() {

  if(mapResults.verifyReady()) {
    mapResults.onLoad();
  }
});
 

</script>
