
  <!-- default map / should default to NYS -->
  <div class="mapview-map" id="map" page="default-view">
      <div id="loading" style="display: block;">
          <div class="loading-indicator">
              <div class="progress progress-striped active">
                  <div class="progress-bar progress-bar-info" style="width: 100%"></div>
              </div>
          </div>
      </div>
  </div>
  
  <!--<div id="map" class="listview-map mapResults"></div>-->
