
  <!-- default map / should default to NYS -->
  <div id="map-container" style="width:100%;height:600px;">
    <ul class="nav nav-tabs overlay-tabs"></ul>
    <div id="map" class="mapResults"></div>
  </div>

  <!-- for mapping application -->
  <%= javascript_include_tag 'map/mapDataOverlays' %>
  <%= javascript_include_tag 'map/mapResults' %>
  
