
  <!-- default map / should default to NYS -->
  <div class="mapview-map" id="map" page="default-view">
      <div id="loading" style="display: block;">
          <div class="loading-indicator">
              <div class="progress progress-striped active">
                  <div class="progress-bar progress-bar-info" style="width: 100%"></div>
              </div>
          </div>
      </div>
  </div>
  
  <!--<div id="map" class="listview-map mapResults"></div>-->
<script>
 //Setup map on doc ready
$(document).ready(function(){
//Set up MAP if a particular element is on the page
//Since everything in the assets folder appears to be loaded, even if not explicitly included
//this code should prevent home.js from being loaded when it is not needed
       if (doSetupMap()) 
       {
        setupMap();
  //setupGeoJSONOverlays();
  //Including this leads to an error about the map
  //Try putting the entire thing into the method and see what happens
  //putLayersOnMap();
      }
});

</script>
