
  <!-- default map / should default to NYS -->
  <ul class="nav nav-tabs overlay-tabs"></ul>

  <div id="map-container">
    <div id="map" style="width:100%;height:600px;"></div>
  </div>


  <!-- for mapping application -->
  <%= javascript_include_tag 'map/mapDataOverlays' %>
  <%= javascript_include_tag 'map/mapAddD3Layer' %>
  <%= javascript_include_tag 'map/mapResults' %>
  <%#= javascript_include_tag 'map/mapSearch' %>

  <script type="text/javascript">


  /*
    Function: getUrlParameters
    Description: Get the value of URL parameters either from 
                 current URL or static URL
    Author: Tirumal
    URL: www.code-tricks.com
  */
  function getUrlParameters(parameter, staticURL, decode){
   
    var currLocation = (staticURL.length)? staticURL : window.location.search,
        returnBool = true;
      
    if (currLocation.indexOf("?") > -1) {

       parArr = currLocation.split("?")[1].split("&");
       
        for(var i = 0; i < parArr.length; i++){
            parr = parArr[i].split("=");
            if(parr[0] == parameter){
                return (decode) ? decodeURIComponent(parr[1]) : parr[1];
                returnBool = true;
            }else{
                returnBool = false;            
            }
        }
    }   
   
    if(!returnBool) return false;  
  }

  $(document).ready(function() { 
  
      // are there search terms??
      var searchTerms = getUrlParameters("q", "", true);

      // wait till leaflet map loads, then load d3 layers
      $.when(mapResults.onLoad()).done(function() {  
        //if search terms are found on map, highlight it

        if (searchTerms) {
          searchTerms.split("+").forEach(function(s) {
            //this isn't working all of a sudden... yet, if you run this in console, it works fine... timing again??  
            d3.select(".area[title='"+s.toLowerCase()+"']").style("fill-opacity", ".6");
          
          });//end searchTerms loop
        }//end if

      });//end mapResults.onLoad()

  });

  </script>
  

  
