<!-- Container for custom GIS tool pages -->

<!-- Right now hardcoding this in but will change this -->
<h2>MAP COLLECTION!!</h2>
<%= render "map/mapcollection"%>
<!-- End container for custom GIS tool pages -->