<% if !isGISLayerTool(@document) %>
<%#Show main partial is what used to be the main show page, I've moved it there to allow for reusing that except for the GIS layer collection-%>
<%= render :partial => "show_main" %>

<% else %>
<div id="main-container" class="container">

<%= render :partial => "map/mapcollection" %>
</div>
<%
end
%>
