<section class="page-title">
  <div class="container">
    <h1>Events</h1>
  </div>
</section>

<section>
  <div class="container">

    <div class="row">
      <div class="col-sm-12">

        <% @data['results']['bindings'].each do |item| %>
          <h3><%= item['label']['value'].html_safe %></h3>
          <p><%= item['abstract']['value'].html_safe %></p>
        <% end %>

      </div>
    </div>

  </div>
</section>