
<h1>Highlights - View Test</h1>
<p></p>

 
<p><%= @name %></p>


<ul>
<% @arr.each do |item| %>
  <li><%= item %></li>
<% end %>
<% #json["results"].["bindings"].each do |result| %>
  <%= #child['label']['value'] %>
<% #end %>

</ul>